
span.searchmatch {
    background-color: yellow;
    font-weight: bolder;
}
.spacer {
    flex: 1 1 auto;
}

.mat-card {
    margin: 8px;
    max-width: 280px;
    border: 1px solid black;
}

.mat-toolbar {
    padding-bottom: 10px;
}
div.list-area {
    max-width: 80vw;
}
