<div class="sample">
    <ul>
        <title>EDU</title>
        <li> <a href="https://en.wikipedia.org/wiki/Richard_Feynman">Richard Feynman</a> was an American theoretical
            physicist, known for his work in the path integral formulation of quantum mechanics, the theory of quantum
            electrodynamics, the physics of the superfluidity of supercooled liquid helium</li>
            <li> <a href="https://en.wikipedia.org/wiki/N._David_Mermin">David Mermin</a>  If I were forced to sum up in one sentence what the Copenhagen interpretation says
                to me, it would be “Shut up and calculate!”</li>
    </ul>

    <hr />
    <h1>{{ title }}</h1>
    <h5>page id: {{ id }}, lang: {{ wikiClient.languge_code }}</h5>
    <div [innerHTML]="content">
    </div>
</div>