
div.top-bar {
    background-color: #0F60FF;
    padding: 10px 10vmax;
}

div.top-bar a {
    padding-right: 20px;
    color: #FFFFFF;
    text-decoration: none;
    
}
div.app-content {
    margin: 0 10vw; 
}
